body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .title {
    font-size: 1.5em;
  }
  
  .navbar-link {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

.navbar-link a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #2980b9;
}
  
  .button-section {
    padding: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 1em;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #displayButton {
    display: inline-block;
    padding: 10px;
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}
#displayButton:hover {
    background-color: #219c52;
}

#confirmation {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}
#confirmation:hover {
    background-color: #219c52;
}
#confirmation:disabled{
    cursor: not-allowed;
}