body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .title {
    font-size: 1.5em;
  }
  
  .navbar-link {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

.navbar-link a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #2980b9;
}
  
  .button-section{
    display: flex;
    padding: 20px;
    justify-content:space-between;
  };
    
  
  button {
    padding: 10px;
    font-size: 1em;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #displayButton {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}
#displayButton:hover {
    background-color: #219c52;
}

#confirmation {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}
#confirmation:hover {
    background-color: #219c52;
}
#confirmation:disabled{
    cursor: not-allowed;
}

#listof {
    list-style: none;
    padding: 0;
  }
  
  #listof li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  #listof li:first-child {
    background-color: #3498db;
    color: white;
    font-weight: bold;
  }

  .content {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0%;
    margin: 0;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

#nameDisplay{
    margin-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2980b9;
    display: flex;
    justify-content: center;
    text-align: center;
}
.payday {
    margin-top: 50px;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #00d9ff;
    background-color: #333;
    height: 50px;
    justify-content: center;
    display: flex;
}
.description{
    background-color: #333;
    margin-top: 50px;
    text-align: center;
    /* font-size: large; */
    font-family: Arial, Helvetica, sans-serif;
    color: #04f2f2;
}